<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>animation</title>
</head>

<body class="w-full h-screen flex justify-center items-center bg-primary relative">
  <div class="container-p w-[98%] h-[95vh] flex justify-center items-center relative rounded-2xl bg-white-800 overflow-hidden">
    <!-- Barre de navigation -->
    <nav class="absolute top-0 h-[5vh] w-full bg-transparent flex justify-between items-center z-10">
       <div class="w-1/4 flex">
          <span class="pl-4 text-2xl font-bold text-white">FRUITS</span>
       </div>
       <div class="w-1/6 flex justify-around items-end h-full text-secondary" *ngIf="this.clickedState">
          <button class="btn rounded-2xl p-2  w-[40%]">Command</button>
          <button class="btn rounded-2xl p-2  w-[40%]">Randomised</button>
       </div>
       <div class="w-1/4 flex justify-end items-center">
            <span class="mr-4  h-8 w-8 rounded-full bg-raisin flex justify-center items-center bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-person-add fill-primary" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
              </svg>
            </span>
            <span class="mr-4  h-8 w-8 rounded-full bg-raisin flex justify-center items-center bg-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-cart2 fill-primary" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
              </svg>
            </span>
      </div>
    </nav>


  <!-- container des produits -->
   <div class="container-prod flex w-full h-full relative bg-secondary">
    <!-- produit pomme -->
     @for (item of fruit; track $index) {
      <div class="prod flex-1 flex justify-center items-start flex-col p-4 text-primary hover:text-white" [ngClass]="item.nom">
        <div class="image w-full h-0">
          <img src="assets/image/{{item.nom}}.png" alt="pomme" class="scale-0 opacity-0  transition-all duration-500 align-middle">
        </div>
        
        <div class="w-full h-1/2 flex justify-center items-start flex-col">
          <h2 class="text-2xl">0{{item.id}}</h2>
          <h3 class="font-bold text-[2rem] mt-2">{{item.nom| uppercase}}</h3>
          <P class="pt-4 text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ipsa nostrum, at adipisci tempore distinctio?</P>
          <button (click)="this.clickedProd(item)" class="bg-primary text-white p-2 rounded-xl mt-4">More ...</button>
        </div>
     </div>
     }
   </div>
  </div>
<section class="one absolute scale-0  h-full bg-primary top-0 flex justify-center items-center" *ngIf="this.clickedState" [ngClass]="{'animIn':this.clickedState,'animOut': !clickedState}">
    <div class="relative w-[98%] h-[95vh] flex justify-end items-center flex-col">
      <div class="z-10 flex justify-center items-center  absolute top-[10%]">
        <img src="assets/image/bootle-{{this.fruitClicked.nom}}.png" alt="" class="w-[200px] h-[550px]">
      </div>
      <div class="w-full h-1/2 flex justify-center items-end">
        <h2 [ngStyle]="{ 'color': this.fruitClicked.color}" class="text-[15rem]  text-pomme font-bold z-0">{{this.fruitClicked.nom | uppercase}}</h2>
      </div>
      <div class="flex justify-between items-center w-full h-1/3 p-2" [ngStyle]="{ 'color': this.fruitClicked.color}">
        <div class="card h-full w-1/4 rounded-xl p-2 ">
          <h2 class="text-2xl">.....</h2>
          <h3 class="font-bold text-[2rem] mt-2">{{this.fruitClicked.nom | titlecase}}</h3>
          <P class="pt-4 text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ipsa nostrum, at adipisci tempore distinctio?</P>
          <button (click)="this.clickedProd(this.fruitClicked)" [ngStyle]="{ 'background': this.fruitClicked.color}" class="text-white p-2 rounded-xl mt-4">Closed ...</button>
        </div>
        <div class="price flex justify-center items-end w-1/4 h-full">
          <span class="text-[3rem]  font-bold " [ngStyle]="{ 'color': this.fruitClicked.color}">
            {{this.fruitClicked.prix | currency}}
          </span>
        </div>
        <div class="border-l-2  border-pomme p-2 flex justify-around items-center flex-col w-1/4 h-full" >
          <div class="h-1/4 w-2/3 flex justify-between items-center">
              <span [ngStyle]="{ 'background': this.fruitClicked.color}" class="w-20 h-20 rounded-xl flex justify-center items-center p-1">
                <img src="assets/image/{{this.fruitClicked.nom}}.png" alt="{{this.fruitClicked.nom}}">
            </span>
            <span [ngStyle]="{ 'background': this.fruitClicked.color}" class="w-20 h-20 rounded-xl flex justify-center items-center p-1">
                <h2 class="text-[3rem] font-bold text-primary">{{this.fruitClicked.id | number: '2.0-0'}}</h2>
            </span>
          </div>

          <div class="w-2/3 h-1/4 flex justify-between items-center text-primary">
            @for (item of fruit; track $index) {
              <span  (click)="this.clickedOverProd(item)" [ngClass]="{'!bg-primary text-secondary shadow-sm shadow-secondary':item.id == this.fruitClicked.id}" class="w-16 h-16 bg-secondary flex justify-center items-center font-bold text-[2rem] rounded-full">{{item.id |number: '2.0-0'}}</span> 
            }
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>